<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: header">

</head>
<body>


<!-- SIDEBAR -->
<section id="sidebar">
  <a th:href="@{/admins}" class="brand">
    <i class='bx bxs-smile'></i>
    <span class="text">AdminHub</span>
  </a>
  <ul class="side-menu top">
    <li >
      <a th:href="@{/admins}">
        <i class='bx bxs-dashboard'></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li class="active">
      <a th:href="@{/admins/book}">
        <i class='bx bxs-shopping-bag-alt'></i>
        <span class="text">My Store</span>
      </a>
    </li>
    <li >
      <a th:href="@{/admins/users}">
        <i class='bx bxs-doughnut-chart'></i>
        <span class="text">Manager Users</span>
      </a>
    </li>
    <li>
      <a th:href="@{/admins/orders}">
        <i class='bx bxs-message-dots'></i>
        <span class="text">Orders</span>
      </a>
    </li>

  </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class='bx bx-menu'></i>
    <a href="#" class="nav-link">Categories</a>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search...">
        <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
      </div>
    </form>
    <input type="checkbox" id="switch-mode" hidden>
    <label for="switch-mode" class="switch-mode"></label>
    <a href="#" class="notification">
      <i class='bx bxs-bell'></i>
      <span class="num">8</span>
    </a>
    <a href="#" class="profile">
      <img th:href="@{/image/man.png}">
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="container">
      <a  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editEmployeeModal">Add New Book</a>
      <div class="table-wrap">
        <table class="table">
          <thead class="thead-primary">
          <tr>
            <th>Product</th>
            <th>Title</th>
            <th>Price</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Action</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>


          <th:block th:each="book, bookstat : ${listBook}" >
            <tr class="alert" role="alert">
              <td>
                <img width="50" height="50" th:src="@{/image/book/}+${book.id}+'.png'" />
              </td>
              <td>
                <div class="text">
                  <span th:text="${book.getTitle()}"> </span>
                  <span th:text="${book.author}"></span>
                </div>
              </td>
              <td th:text="${book.listPrice}"></td>
              <td class="text">
                <span th:text="${book.category}"></span>
              </td>
              <td th:text="${book.inStockNumber}"></td>
              <td><a  class="btn btn-primary">Edit</a> | <a
                       class="btn btn-warning">Delete</a></td>
            </tr>

          </th:block>
          </tbody>
        </table>
      </div>

      <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form th:action="@{admins/books/save}" th:object="${book}" enctype="multipart/form-data">
              <div class="modal-header">
                <h4 class="modal-title">Edit New Book</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" th:field="*{title}" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>Author</label>
                  <input type="text" th:field="*{author}" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>Public Date</label>
                  <input type="date" th:field="*{publicationDate}" class="form-control" required>
                </div>
                <div class="form-group my-3">
                  <label>Language</label>
                  <select>
                    <option th:field="*{language}" th:value="vietnamese" th:text="vietnamese"></option>
                    <option th:field="*{language}" th:value="english" th:text="english"></option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Number Of Page</label>
                  <input type="text" th:field="*{numberOfPages}" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>Weight</label>
                  <input type="text" th:field="*{shippingWeight}" class="form-control" required>
                </div>

                  <div class="form-group">

                  <label>Real Price </label>
                  <input type="number" th:field="*{listPrice}" class="form-control" required>
                  </div>
                <div class="form-group">

                  <label>Reduce Price </label>
                  <input type="number" th:field="*{ourPrice}" class="form-control" th:min="0" required>
                </div>
                <div class="form-group">

                  <label>Quantity</label>
                  <input type="number" th:field="*{inStockNumber}" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <textarea th:field="*{description}" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" th:field="*{isbn}" class="form-control" required>
                </div>

                <div class="form-group">
                  <label>Category</label>
                  <div class="right-wrap-field">
                    <select name="categori" id="">
                      <th:block th:each="category :${categories}">

                        <option th:field="*{category}" th:value="${category.name}" th:text="${category.name}"></option>
                      </th:block>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label>Image</label>
                  <div class="right-wrap-field">
                    <input id="input-file" type="file" th:field="*{bookImage}" name="file" accept="image/png, image/jpeg" />

                  </div>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-info" value="Save">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#preImg').attr('src', e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

</script>
<script th:src="@{/js/scriptsAdmin.js}"></script>
</body>


</html>