<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
<body>


<!-- SIDEBAR -->
<section id="sidebar">
  <a th:href="@{/admins}" class="brand">
    <i class='bx bxs-smile'></i>
    <span class="text">AdminHub</span>
  </a>
  <ul class="side-menu top">
    <li >
      <a th:href="@{/admins}">
        <i class='bx bxs-dashboard'></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li class="active">
      <a th:href="@{/admins/book}">
        <i class='bx bxs-shopping-bag-alt'></i>
        <span class="text">My Store</span>
      </a>
    </li>
    <li >
      <a th:href="@{/admins/users}">
        <i class='bx bxs-doughnut-chart'></i>
        <span class="text">Manager Users</span>
      </a>
    </li>
    <li>
      <a th:href="@{/admins/orders}">
        <i class='bx bxs-message-dots'></i>
        <span class="text">Orders</span>
      </a>
    </li>

  </ul>
</section>
<!-- SIDEBAR -->
<section id="content">
  <nav th:replace="layout :: navbar"></nav>
  <main>
    <div class="container">
      <a  class="btn btn-primary " th:href="@{/admins/book}" ><-Back to Book</a>
      <div class="container">
        <form th:action="@{/admins/book/save}" th:object="${book}" enctype="multipart/form-data" method="post">
          <div class="modal-header">
            <h4 class="modal-title">Edit New Book</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" th:field="*{id}">
              <input type="hidden" th:field="*{imageProduct}">
              <label>Title</label>
              <input type="text" th:field="*{title}" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Author</label>
              <input type="text" th:field="*{author}" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Public Date</label>
              <input type="date" th:field="*{publicationDate}" class="form-control" required>
            </div>
            <div class="form-group my-3">
              <label>Language</label>
              <select th:field="*{language}">
                <option  th:value="vietnamese" th:text="vietnamese"></option>
                <option  th:value="english" th:text="english"></option>
              </select>
            </div>

            <div class="form-group">
              <label>Number Of Page</label>
              <input type="text" th:field="*{numberOfPages}" th:min="${0}" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Weight</label>
              <input type="text" th:field="*{shippingWeight}" th:min="${0}" class="form-control" required>
            </div>

            <div class="form-group">

              <label>Real Price </label>
              <input type="number" th:field="*{listPrice}" th:min="${0}" class="form-control" required>
            </div>
            <div class="form-group">

              <label>Reduce Price </label>
              <input type="number" th:field="*{ourPrice}" class="form-control" th:min="${0}" required>
            </div>
            <div class="form-group">

              <label>Quantity</label>
              <input type="number" th:field="*{inStockNumber}" th:min="${0}" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea th:field="*{description}" class="form-control" th:min="${0}" required></textarea>
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input type="text" th:field="*{isbn}" class="form-control" required>
            </div>

            <div class="form-group">
              <label>Category</label>
              <div class="right-wrap-field">
                <select th:field="*{category}" name="categori" id="">
                  <th:block th:each="category :${categories}">

                    <option  th:value="${category.name}" th:text="${category.name}"></option>
                  </th:block>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label>Image</label>
              <div class="right-wrap-field">
                <input id="input-file" type="file" th:field="*{bookImage}" name="file" accept="image/png, image/jpeg" />
              </div>

            </div>
            <div class="form-group">
                <span th:text="*{imageProduct}"></span>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-info" value="Save">
          </div>

        </form>
      </div>
    </div>
  </main>
</section>

<script>

</script>
</body>
</html>